<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <title>Smartslides | Edit Your Presentation</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/editpresentation-grid.css">
  <link rel="stylesheet" href="css/editpresentation.css">
</head>
<body class="body page-editpresentation clearfix">
  
  <div id="header-title">
    <!-- <img class ="hamburger-icon icon" src="images/hamburger.png"> -->
    <img id="back-icon" class="icon" src="images/back2user.png">
    <p class="text" onclick="location.href='/'">Smartslides</p><br>
  </div>
  <p class="js-pres-title" style="text-align:center; font-family:sans; font-size:.65em; box-shadow:0 1px 5px rgba(0, 0, 0, .5); margin-top: 6px;"></p>
  <div class="container clearfix js-notecard-container">
    <!--<div class="js-notecard-element">

    <div class="element _element element-4"></div>
    <div class="element element-2 clearfix js-notecard">
      <button class="_button js-edit-btn">Edit</button>
      <div class="element element-3 clearfix js-delete-btn">
        <img class="image image-3" src="images/trash(2).svg">
      </div>
      <div style="height:7%;"></div>
      <div class="js-text-editor" style="display:none;height:83%;">
      <div id="toolbar">
          <select class="ql-size">
              <option value="small"></option>
            
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
          </select>
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-link"></button>
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-align ql-picker ql-icon-picker"></button>
        
      </div>
      <div id="editor"></div>
      </div>
    </div>
    
    <div class="element _element element-6"></div>
    <div class="element element-5 clearfix js-insert-notecard-btn">
      <img class="image image-4 js-whiteplus" src="images/plus(2).svg">
      <img class="image image-5 js-blackplus" src="images/plus.svg">
    </div>
    </div>
    -->
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/editpresentation.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</body>
</html>