<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Smartslides | Voice Recognition For Presentations</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans Pro:200,300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body page-index clearfix">
  <p class="text text-1">Smartslides</p>
  <div class="element element-1 clearfix">
    <img class="image image-1 js-iphone" src="images/phone_transition_trans.png">
    <div class="text text-2 js-vrforpresentations">
      <p>Voice Recognition</p>
      <p>For</p>
      <p>Presentations.</p>
</div>
  </div>
  <div class="element element-2 clearfix">
    <button class="_button _button-1 js-create-acct-btn">Create An Account</button>
    <p class="text text-3">Or</p>
    <button class="_button _button-2 js-sign-in-btn">Sign In</button>
  </div>
  <div class="element element-3 clearfix js-signinpopup">
    <img class="image image-2 js-close-btn" src="images/close.svg">
    <p class="text text-4">Sign In</p>
    <input class="_input _input-1 js-username1" placeholder="Username" type="text">
    <input class="_input _input-2 js-pass1" placeholder="Password" type="text">
    <button class="_button _button-3 js-sign-in-ajax-btn">Sign In!</button>
  </div>
  <div class="element element-4 clearfix js-createacctpopup">
    <img class="image image-3 js-close-btn" src="images/close.svg">
    <p class="text text-5">Create An Account</p>
    <input class="_input _input-3 js-username" placeholder="Username" type="text">
    <input class="_input _input-4 js-pass" placeholder="Password" type="text">
    <input class="_input _input-5 js-cpass" placeholder="Confirm Password" type="text">
    <button class="_button _button-4 js-get-started-btn">Get Started!</button>
  </div>
  <div class="element _element js-darkbg"></div>

  <script src="js/jquery-min.js"></script>
  <script src="js/homepage.js"></script>
</body>
</html>
