<!doctype html>
<html>
<head>
  <title>Speech Interpretor</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
  <link rel="stylesheet" href="css/clientSpeech.css">
</head>
<body>
  <div id="container">
    <h3 id="speech-name">YOUR SPEECH NAME</h3>
    <div id="notecard-contents">
      <!-- <p>your speech will appear here</p> -->
      <span>And this will represent the notecard contents</span>
      <span>The contents will need to be added to the #notecard-contents div</span>
      <span>Filling upon page open</span>
    </div>
  </div>
  <script src="js/jquery-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>
  <script src="js/clientSpeech.js"></script>
</body>

</html>